ion-toolbar, ion-content {
  --background: #f8f8f8;
}

.item-md p {
  color: #515151;
  font-family: MarkPro;
  font-size: 12px;
}

.blue {
  color: #1673a5 !important;
}

.title {
  --background: #f8f8f8;
  --inner-padding-top: 10px;
  --inner-padding-bottom: 60px;
  --padding-end: 16px;

  h2 {
    color: black;
    font-weight: bold;
  }
}

.subtitle {
  color: black;
  font-weight: bold;
}

ion-list {
  background: #f8f8f8;

  ion-item {
    //--background: #f8f8f8;
    margin-top: 2px;
    margin-bottom: 2px;
    --background: white;

    ion-avatar {
      width: 32px;
      height: 32px;
    }

    ion-title {
      font-size: small;
      font-weight: bold;
      color: black;
    }
  }

  ion-item:first-child {
    --border-radius: 0.5rem 0.5rem 0 0;
  }

  ion-item:last-child {
    --border-radius: 0 0 0.5rem 0.5rem;
  }

}
