<!--
  Generated template for the CreatePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Crear Contraseña</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-item lines="none">
        <div class="title_center">
            <h4 *ngIf="!this.appConfig?.user?.email">No puede faltar una contraseña</h4>
            <h4 *ngIf="this.appConfig?.user?.email">No puede faltar un correo y una contraseña</h4>
            <span *ngIf="!this.appConfig?.user?.email">Que sea lo suficientemente fuerte y no la olvides</span>
        </div>
    </ion-item>

    <ion-list>
        <ion-item *ngIf="this.appConfig?.user?.email">
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>

        <ion-item *ngIf="!appConfig?.user?.name">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="firstName" type="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="!appConfig?.user?.lastName">
            <ion-label position="floating">Apellido</ion-label>
            <ion-input [(ngModel)]="lastName" type="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="!appConfig?.user?.phone">
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input [(ngModel)]="phone" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Código Referido</ion-label>
            <ion-input [(ngModel)]="referredBy" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Constraseña</ion-label>
            <ion-input [(ngModel)]="password" type="{{type}}"></ion-input>
            <ion-button color="light" (click)="showPassword()" class="btn_show h-100" slot="end" type="button">
                <ion-icon *ngIf="!showPass" name="eye-off-outline"></ion-icon>
                <ion-icon *ngIf="showPass" name="eye-outline"></ion-icon>
            </ion-button>
        </ion-item>

        <ion-fab (click)="next()" horizontal="end" vertical="bottom">
            <ion-fab-button color="primary">
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>

    </ion-list>
</ion-content>
