ion-toolbar {
  --background: white;
}

.black {
  color: black !important;
}

.aceptar {
  height: 56px !important;
  font-size: larger;
  text-transform: capitalize;
  margin-bottom: 16px !important;
}

