.bg_image {
  background-size: 100%;
}

.item_k h2 {
  margin: 0 !important;
}

.item-input .label-md {
  color: #bbbbbb;
}

.text-input, .text-input-md {
  color: #515151;
}

.button-md:hover:not(.disable-hover) {
  background-color: #10d58e;
}

.title_center {
  margin-top: 10px;
  text-align: center;

  h1 {
    font-family: MarkPro;
    font-weight: 600;
    color: white;
    font-size: 30px;
  }

  h2 {
    font-family: MarkPro;
  }

  span, p {
    font-family: MarkPro;
    font-weight: 200;
    color: white !important;
  }
}

.p_text {
  font-family: MarkPro;
  font-weight: 600;
  color: white !important;
  font-size: 16px !important;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.btn-h {
  margin-top: 40px;
  height: 40px;
}

.item.native {
  background: red;
}

.item-md, .item-native {
  background: transparent;
}
